@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #E8E6E7;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: bold;
}
header{
    padding: 5px 20px;
    background-color: #1d1d1f;
    margin-bottom: 100px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 50px;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
a{
    color: #888;
    padding: 5px;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
    color: #dadada;
}
#check{
    text-decoration: underline;
    color: #f0f0f0;
}
#iP13{
    width: 200px;
    margin-top: 50px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    font-weight: 600;
    font-style: normal;
}
.principal{
    display: flex;
    justify-content: space-between;
}
.info{
    padding-left: 80px;
}
h1{
    padding-top: 20px;
    padding-bottom: 20px ;
}
#Inform{
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}
#preço{
    font-family: "Roboto", sans-serif;
    font-size: 13pt;
    font-weight: 900;
    color: #b6b6b6;
    padding-bottom: 10px;
}
button{
    background-color: rgb(0, 132, 255);
    color: white;
    font-family: "Roboto", sans-serif;
    padding: 8px 15px;
    font-weight: 900px;
    font-size: 15pt;
    border-radius: 10px;
    border: none;
}
#Escolha{
    font-family: "Roboto", sans-serif;
    font-size: 13pt;
    font-weight: 500;
    color: #3b3a3a;
    padding-top: 10px;
}
.cor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.content{
    display: flex;
    padding-top: 10px;
    gap: 10px;
}
#grenn{
    background-color: #384937;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#pink{
    background-color: #F8DDD6;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#blue{
    background-color: #225F7E;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#black{
    background-color: #192028;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#white{
    background-color: #F7F2EE;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
#red{
    background-color: #AE0617;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
}
.cor:hover{
    border: 2px solid black;
    opacity: .95;
}
#iphone{
    margin-right: 50px;
    z-index: 100;
    width: 400px;
    transform: rotate(-7deg);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F8DDD6;
    clip-path: circle(700px at right 900px);
}
